AppEval/Connected Services/ServiceReference1/sioservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:typens="urn:sioservice" xmlns="http://schemas.xmlsoap.org/wsdl/" name="sioservice" targetNamespace="urn:sioservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sioservice" />
  </wsdl:types>
  <wsdl:message name="connectRequest">
    <wsdl:part name="login" type="xsd:string" />
    <wsdl:part name="password" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="connectResponse">
    <wsdl:part name="status" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="exportOffreListRequest">
    <wsdl:part name="search" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="exportOffreListResponse">
    <wsdl:part name="export" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="exportCandidatureListRequest">
    <wsdl:part name="search" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="exportCandidatureListResponse">
    <wsdl:part name="export" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="sioservicePort">
    <wsdl:operation name="connect">
      <wsdl:input message="typens:connectRequest" />
      <wsdl:output message="typens:connectResponse" />
    </wsdl:operation>
    <wsdl:operation name="exportOffreList">
      <wsdl:input message="typens:exportOffreListRequest" />
      <wsdl:output message="typens:exportOffreListResponse" />
    </wsdl:operation>
    <wsdl:operation name="exportCandidatureList">
      <wsdl:input message="typens:exportCandidatureListRequest" />
      <wsdl:output message="typens:exportCandidatureListResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sioserviceBinding" type="typens:sioservicePort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="connect">
      <soap:operation soapAction="connectAction" />
      <wsdl:input name="connectRequest">
        <soap:body use="encoded" namespace="urn:sioservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="connectResponse">
        <soap:body use="encoded" namespace="urn:sioservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exportOffreList">
      <soap:operation soapAction="exportOffreListAction" />
      <wsdl:input name="exportOffreListRequest">
        <soap:body use="encoded" namespace="urn:Easyservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="exportOffreListResponse">
        <soap:body use="encoded" namespace="urn:Easyservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exportCandidatureList">
      <soap:operation soapAction="exportCandidatureListAction" />
      <wsdl:input name="exportCandidatureListRequest">
        <soap:body use="encoded" namespace="urn:Easyservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="exportCandidatureListResponse">
        <soap:body use="encoded" namespace="urn:Easyservice" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sioserviceSvc">
    <documentation>Offre et candidature</documentation>
    <wsdl:port name="sioservicePort" binding="typens:sioserviceBinding">
      <soap:address location="http://localhost/projetppe/web_service/sioservice.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>